source https://nuget.org/api/v2

framework: net45

nuget FSharp.Core redirects:force

nuget FAKE
nuget canopy
nuget Argu

nuget Selenium.WebDriver.ChromeDriver
nuget Selenium.WebDriver.GeckoDriver.Win32

nuget Hopac
nuget Http.fs